body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
}

body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 50px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="date"], select {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #ccc;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #007bff;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}