{% extends "base.html" %}
 

{% block content %}
$(document).ready(function(){
   
  });
</script>
<div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" id="expense-link">Expense</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="income-link">Income</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="saving-link">Saving</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="donation-link">Donation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="browsetransaction-link">browsetransaction</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
	
 <div  class="row" id="content"></div>
 
  
		
		
		
	
		<div class="row">
        <div class="col-md-12">
             <table id="data" class="table table-striped">
    <thead>
      <tr>
       	
		<th>Invoice date</th>
		<th>vendor</th>
		<th>Transaction category</th>
		<th>Transaction amount</th>
		<th>Transaction desc</th>
		<th>Payment mode</th>
		<th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    </div>
		 </div>
{% endblock %}

{% block scripts %}
 <script>
  
  
    // Delete a record
    $('#data').on('click', 'td.editor-delete', function (e) {
	     alert('delete');
		 
        
    } );
	
	$(document).ready(function () {
    
   
		 
       
    $("#expense-link").click(function(event){
   
      event.preventDefault();
      $.ajax({
          type: 'GET',
          url: '/expense',
          success: function(response){
            $('#content').html(response);
          }
      });
    });

    $("#income-link").click(function(event){
   
      event.preventDefault();
      $.ajax({
        type: 'GET',
        url:'/income',
        success: function(data) {
          $("#content").html(data);
        }
      });
    });

    $("#saving-link").click(function(event){
      event.preventDefault();
      $.ajax({
         type: 'GET',
        url:'/saving',
        success: function(data) {
          $("#content").html(data);
        }
      });
    });

    $("#donation-link").click(function(event){
      event.preventDefault();
      $.ajax({
         type: 'GET',
         url:'/donation',
        success: function(data) {
          $("#content").html(data);
        }
      });
    });

    $("#browsetransaction-link").click(function(event){
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: "/browsetransaction",
        success: function(data) {
          $("#content").html(data);
        }
      });
    });
	  $('#datepicker').datepicker(); 
			
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
                              
			{data: 'invoice_date'},                  
			{data: 'vendor'},                   
			{data: 'trans_category'},                 
			{data: 'trans_amount'},                   
			{data: 'trans_desc'},                     
			{data: 'payment_mode'}, 
			{
				data: null,
				className: "dt-center editor-delete",
				orderable: false,
				"mRender" : function ( data, type, row ) {
					return '<a href="" id="deletebtn_' + data.trans_no+'" >Delete <i class="fe fe-delete"></i></a>';
				}
			}
            
        ],
		order: [[0, 'desc']]
      });
    });
	
  </script>
{% endblock %}
      
		
	
 
 
 
 
 
 
